on early-init

# bootloader revision 3, A736B
on fs && property:ro.boot.rp=3
    mount none /vendor/firmware/wlan/rev3/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/wlan/rev3/wpss.mdt /vendor/firmware/wpss.mdt bind
    # WLAN.MSL.1.0.1.c3-00195-QCAMSLSWPLZ-1
    mount none /vendor/firmware/wlan/rev3/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/wlan/rev3/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/wlan/rev3/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/wlan/rev3/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/wlan/rev3/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/wlan/rev3/wpss.b06 /vendor/firmware/wpss.b06 bind
    mount none /vendor/firmware/wlan/rev3/wpss.b07 /vendor/firmware/wpss.b07 bind

# bootloader revision 4, A736B
on fs && property:ro.boot.rp=4
    mount none /vendor/firmware/wlan/rev4/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/wlan/rev4/wpss.mdt /vendor/firmware/wpss.mdt bind
    # WLAN.MSL.1.0.1.c3-00204-QCAMSLSWPLZ-1.582278.2
    mount none /vendor/firmware/wlan/rev4/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/wlan/rev4/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/wlan/rev4/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/wlan/rev4/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/wlan/rev4/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/wlan/rev4/wpss.b06 /vendor/firmware/wpss.b06 bind
    mount none /vendor/firmware/wlan/rev4/wpss.b07 /vendor/firmware/wpss.b07 bind

# bootloader revision 5, A736B
on fs && property:ro.boot.rp=5
    mount none /vendor/firmware/wlan/rev5/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/wlan/rev5/wpss.mdt /vendor/firmware/wpss.mdt bind
    # WLAN.MSL.1.0.1.c3-00221-QCAMSLSWPLZ-1
    mount none /vendor/firmware/wlan/rev5/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/wlan/rev5/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/wlan/rev5/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/wlan/rev5/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/wlan/rev5/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/wlan/rev5/wpss.b06 /vendor/firmware/wpss.b06 bind
    mount none /vendor/firmware/wlan/rev5/wpss.b07 /vendor/firmware/wpss.b07 bind

# bootloader revision 6, A736B
on fs && property:ro.boot.rp=6
    mount none /vendor/firmware/wlan/rev6/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/wlan/rev6/wpss.mdt /vendor/firmware/wpss.mdt bind
    # WLAN.MSL.1.0.1.c3-00228-QCAMSLSWPLZ-1.47764.2
    mount none /vendor/firmware/wlan/rev6/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/wlan/rev6/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/wlan/rev6/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/wlan/rev6/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/wlan/rev6/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/wlan/rev6/wpss.b07 /vendor/firmware/wpss.b07 bind
    # same file as version WLAN.MSL.1.0.1.c3-00221-QCAMSLSWPLZ-1
    mount none /vendor/firmware/wlan/rev5/wpss.b06 /vendor/firmware/wpss.b06 bind

# bootloader revision 7, A736B
on fs && property:ro.boot.rp=7
    mount none /vendor/firmware/wlan/rev7/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/wlan/rev7/wpss.mdt /vendor/firmware/wpss.mdt bind
    # WLAN.MSL.1.0.1.c3-00228-QCAMSLSWPLZ-1.48103.10
    mount none /vendor/firmware/wlan/rev7/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b07 /vendor/firmware/wpss.b07 bind
    # same file as version WLAN.MSL.1.0.1.c3-00221-QCAMSLSWPLZ-1
    mount none /vendor/firmware/wlan/rev5/wpss.b06 /vendor/firmware/wpss.b06 bind

# bootloader revision 8, A736B
on fs && property:ro.boot.rp=8
    mount none /vendor/firmware/wlan/rev8/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/wlan/rev8/wpss.mdt /vendor/firmware/wpss.mdt bind
    # WLAN.MSL.1.0.1.c3-00228-QCAMSLSWPLZ-1.48103.10
    mount none /vendor/firmware/wlan/rev7/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b07 /vendor/firmware/wpss.b07 bind
    # same file as version WLAN.MSL.1.0.1.c3-00221-QCAMSLSWPLZ-1
    mount none /vendor/firmware/wlan/rev5/wpss.b06 /vendor/firmware/wpss.b06 bind

# bootloader revision 9, A736B
on fs && property:ro.boot.rp=9
    mount none /vendor/firmware/wlan/rev9/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/wlan/rev9/wpss.mdt /vendor/firmware/wpss.mdt bind
    # WLAN.MSL.1.0.1.c3-00228-QCAMSLSWPLZ-1.48103.10
    mount none /vendor/firmware/wlan/rev7/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/wlan/rev7/wpss.b07 /vendor/firmware/wpss.b07 bind
    # same file as version WLAN.MSL.1.0.1.c3-00221-QCAMSLSWPLZ-1
    mount none /vendor/firmware/wlan/rev5/wpss.b06 /vendor/firmware/wpss.b06 bind

# bootloader revision 10, A736B
on fs && property:ro.boot.rp=10
    mount none /vendor/firmware/wlan/rev10/wpss.b01 /vendor/firmware/wpss.b01 bind
    mount none /vendor/firmware/wlan/rev10/wpss.mdt /vendor/firmware/wpss.mdt bind
    # WLAN.MSL.1.0.1.c3-00228-QCAMSLSWPLZ-1.48103.31
    mount none /vendor/firmware/wlan/rev10/wpss.b00 /vendor/firmware/wpss.b00 bind
    mount none /vendor/firmware/wlan/rev10/wpss.b02 /vendor/firmware/wpss.b02 bind
    mount none /vendor/firmware/wlan/rev10/wpss.b03 /vendor/firmware/wpss.b03 bind
    mount none /vendor/firmware/wlan/rev10/wpss.b04 /vendor/firmware/wpss.b04 bind
    mount none /vendor/firmware/wlan/rev10/wpss.b05 /vendor/firmware/wpss.b05 bind
    mount none /vendor/firmware/wlan/rev10/wpss.b07 /vendor/firmware/wpss.b07 bind
    # same file as version WLAN.MSL.1.0.1.c3-00221-QCAMSLSWPLZ-1
    mount none /vendor/firmware/wlan/rev5/wpss.b06 /vendor/firmware/wpss.b06 bind
